!!!
%html
  %head
  %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %title ChatSpace
  %body
  %div.flash-box
    グループを作成しました
  %div.wrapper
    %div.chat-side
      %div.side-header
        %div.side-header__box
          %p.side-header__box__user-name
            はやし
          %ul.side-header__box__menu
            = link_to "messages/new", class: "side-header__box__menu__new-group" do
              = fa_icon 'edit'
            = link_to "messages/edit", class: "side-header__box__menu__setting" do
              = fa_icon 'cog'
      %div.groups
        = link_to "messages/message", class: "group" do
          %div.group
            %p.group__group-name
              サンプルグルー府（リンクいるrendeeer）
            %p.group__latest-message
              サンプル会話
    %div.chat-main
      %div.main-header
        %div.main-header__right-box
          %h2.main-header__right-box__current-group
            サンプルグループ（リンクいる）
          %ul.main-header__right-box__member-list
            %li.main-header__right-box__member-list__member
            はやし（ここ横にレンダー）
        %div.main-header__edit-btn
      %div.messages
        %div.message
          %div.message__upper-info
            %p.message__upper-info__chatter
              はやし
            %p.message__upper-info__date
              2019/09/25 18:29:21
          %p.message__text
            さようなら
      %div.form
        %form.new_message#new_message
          %div.input-box
            %input.input-box__text
              placeholder=typeamessage
            %label.input-box__image
              ここにアイコン
          %input.submit-btn
            Send