!!!
%html
  %head
  %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %title ChatSpace
  %body
  %div.flash-box
    グループを作成しました
  %div.wrapper
    %div.chat-side
      %div.side-header
        %div.side-header__box
          %p.side-header__box__user-name
            はやし
          %ul.side-header__box__menu
            = link_to "messages/new", class: "side-header__box__menu__new-group" do
              = fa_icon 'edit'
            = link_to "messages/edit", class: "side-header__box__menu__setting" do
              = fa_icon 'cog'
      %div.groups
        = link_to "messages/group", class: "group" do
          = render "messages/group", class: "group_render"
    %div.chat-main
      %div.main-header
        %div.main-header__right-box
          %h2.main-header__right-box__current-group
            サンプルグループ
          %ul.main-header__right-box__member-list
            Member:
            %li.main-header__right-box__member-list__member
              名前、名前、名前
        %div.main-header__edit-btn
          Edit
      %div.messages
        =render "messages/message", class: "message_render"
      %div.form
        %form.new_message#new_message
          %div.input-box
            %input.input-box__text
              placeholder=typeamessage
            %label.input-box__image
              ここにアイコン
          %input.submit-btn
            Send