
%div.flash-box
  グループを作成しました
%div.wrapper
  %div.chat-side
    %div.chat-side__header
      %p.chat-side__header__user-name
        はやし
      %ul.chat-side__header__menu
        = link_to "messages/new", class: "side-header__box__menu__new-group" do
          = fa_icon 'edit'
          %span<>
        = link_to "messages/edit", class: "side-header__box__menu__setting" do
          = fa_icon 'cog'
    %div.chat-side__groups
      = link_to "messages/group", class: "group" do
        = render "messages/group", class: "group_render"
  %div.chat-main
    %dev.chat-main__header
      %div.chat-main__header__leftbox
        %h2.chat-main__header__leftbox__current-group
          サンプルグループ
        %ul.chat-main__header__leftbox__member-list
          Member:
          %li.chat-main__header____leftbox__member-list__member
            名前
      %div.chat-main__header__edit-btn
        Edit
    %div.chat-main__messages
      = render "messages/message", class: "message_render"
    %div.chat-main__form
      %form#new_message.chat-main__form__new-message
        %div.chat-main__form__new-message__input-box
          %input#message_content.chat-main__form__new-message__input-box__text{:placeholder => "type a message", :type => "text"}
          %label.chat-main__form__new-message__input-box__image{ for: "message_image" }
            = fa_icon "picture-o"
            %input#message_image.chat-main__form__new-message__input-box__image__file{:name => "message[image]", :type => "file"}
        %input.chat-main__form__new-message__submit-btn{ type: "submit", value: "Send" }